body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
h2, h3 {
    color: #333;
}
.centered-title {
    text-align: center;
    margin-top: 20px;
}
.form-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-top: 20px;
}
.form-container label,
.form-container input,
.form-container select,
.form-container button {
    width: 100%;
    margin-bottom: 10px;
}
.form-container label {
    text-align: left;
    margin-top: 10px;
}
.form-container input,
.form-container select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.form-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #45a049;
}
.transactions-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
}
.transactions-table {
    width: 100%;
    max-width: none;
    border-collapse: collapse;
    margin-top: 10px;
}
.transactions-table th, .transactions-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.transactions-table th {
    background-color: #4CAF50;
    color: white;
}
.transactions-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.transactions-table tr:hover {
    background-color: #ddd;
}
.form-container, .total-report {
    text-align: center;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
}
/*pain*/
